hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
div {
    height: 500px;
    width: 30%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
input[type=text],input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
button[type=submit]{
  background-color:black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  color: white;
}
label{
		display: inline-block;
    color:black;
		float: left;
	}
body{background-color: #DCDCDC}
